<footer class="Footer">
    <div class="Container">

    <h1 class="StickyHeader-title"><a href="{{ site.baseurl }}/">formeo</a></h1>

    <nav class="Navigation">
        <a class="Navigation-link" href="{{ site.baseurl }}/consulting/">Consulting</a> 
        <a class="Navigation-link" href="{{ site.baseurl }}/advisory-board/">Advisory board</a>
    </div>
</footer>

<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script> 
<script src="http://ajax.aspnetcdn.com/ajax/modernizr/modernizr-2.6.2.js"></script> 
{% capture root %}{% if page.root %}{{ page.root }}{% else %}{{ post.root }}{% endif %}{%endcapture%}

<script src="{{ root }}js/main.js"></script>
<script src="{{ root }}js/sticky-nav.js"></script>
<script src="{{ root }}js/timeline.js"></script>
