{% capture root %}{% if page.root %}{{ page.root }}{% else %}{{ post.root }}{% endif %}{%endcapture%}

<header class="StickyHeader">

    <h1 class="StickyHeader-title"><a href="{{ site.baseurl }}/"><img class="logo" src="{{ root }}img/logo-formeo.svg"> formeo</a></h1>

    <nav class="Navigation">
        <a class="Navigation-link {% if page.url == '/consulting/' %} current{% endif%}" href="{{ site.baseurl }}/consulting/">Consulting</a> 
        <a class="Navigation-link{% if page.url == '/advisory-board/' %} current{% endif%}" href="{{ site.baseurl }}/advisory-board/">Advisory board</a>
    </nav>

</header>

