.Container {
    @extend .group;
    height: 100%;
    margin: 0 auto;
    width: 90%;
}

@media screen and (min-width: 860px) {
    .Container {
        max-width: 58em;
    }
}

@media screen and (min-width: 1170px) {
    .Container {
        max-width: 68em;
        width: 100%;
    }
}


.Main {
    @extend .group;
    bottom: $footer-height;
    height: 100%;
    margin-top: -$header-height;
    position: absolute;
    top: $header-height;
    width: 100%;
}

