.Container {
    height: 100%;
    margin: 0 auto;
    max-width: 68em;
    width: 100%;
}


/**
 * Header 
 */
$header-height: 86px;

.Header {
    background: #2e3037;
    height: $header-height;
}

.Header-title {
    font-size: 2em;
    line-height: 56px;
    letter-spacing: -1px;
    margin: 0;
    float: left;

    & > a,
    & > a:visited {
        color: white;
        line-height: $header-height;
        margin-left: $spacing-unit;
    }
}

.Navigation {
    font-family: $heading-font-family;
    float: right;
    margin-right: $spacing-unit;
}

.Navigation-link {
    color: white;
    display: inline-block;
    line-height: $header-height;

    &:not(:first-child) {
        margin-left: 20px;
    }
}

.Main {
    @extend .group;
    height: 100%;
}

/**
 * Site footer
 */
.site-footer {
    border-top: 1px solid $grey-color-light;
    padding: $spacing-unit 0;
}

.footer-heading {
    font-size: 18px;
    margin-bottom: $spacing-unit / 2;
}

.contact-list,
.social-media-list {
    list-style: none;
    margin-left: 0;
}

.footer-col-wrapper {
    font-size: 15px;
    color: $grey-color;
    margin-left: -$spacing-unit / 2;
    @extend %clearfix;
}

.footer-col {
    float: left;
    margin-bottom: $spacing-unit / 2;
    padding-left: $spacing-unit / 2;
}

.footer-col-1 {
    width: -webkit-calc(35% - (#{$spacing-unit} / 2));
    width:         calc(35% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
    width: -webkit-calc(20% - (#{$spacing-unit} / 2));
    width:         calc(20% - (#{$spacing-unit} / 2));
}

.footer-col-3 {
    width: -webkit-calc(45% - (#{$spacing-unit} / 2));
    width:         calc(45% - (#{$spacing-unit} / 2));
}

@include media-query($on-laptop) {
    .footer-col-1,
    .footer-col-2 {
        width: -webkit-calc(50% - (#{$spacing-unit} / 2));
        width:         calc(50% - (#{$spacing-unit} / 2));
    }

    .footer-col-3 {
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}

@include media-query($on-palm) {
    .footer-col {
        float: none;
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}
