.Navigation {
    float: right;
    font-family: $heading-font-family;
    font-size: 1.1em;
    margin-right: $spacing-unit;
}

.Navigation-link {
    color: white;
    display: inline-block;
    line-height: $header-height;

    &:not(:first-child) {
        margin-left: 30px;
    }

    &:visited {
        color: white;
    }

    &.current,
    &:hover {
        color: #7A8CA5;
        cursor: pointer;
        text-decoration: none;
    }
}
