.PageIntro {
    background-repeat:no-repeat;
    background-position:100% 50%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    min-height: 100%;
    height:100%;
    overflow:hidden;

    h2 {
        color: white;
        font-size: 3em;
        font-weight: 600;
        margin-top: $header-height;
        text-shadow: 2px 2px 10px #222;
    }
}

.PageIntro--start {
    @extend .PageIntro;
    background-image: url(../img/mountains-opt.jpg);
}

.PageIntro--advisoryBoard {
    @extend .PageIntro;
    background-image: url(../img/bag.jpg);
    min-height: 45vh;
    height: 45vh;
}

.PageIntro--consulting {
    @extend .PageIntro;
    background-image: url(../img/advise.jpg);
    min-height: 700px;
    height: 700px;
}

.PageIntro-arrowDown {
    bottom: 30px;
    height: 50px;
    left: 50%;
    margin-left: -25px;
    position: absolute;
    width: 50px;
    -webkit-transition: all 200ms ease-in-out;
    -moz-transition: all 200ms ease-in-out;
    -o-transition: all 200ms ease-in-out;
    transition: all 200ms ease-in-out;

    &:hover {
        cursor: pointer;
        bottom: 28px;
    }
}


