---
layout: default
root: "../"
---
<section class="PageIntro--advisoryBoard">
    <div class="u-centerVerticalOuterWrapper">
        <div class="u-centerVerticalInnerWrapper">
            <h2>We listen to good advise</h2>
        </div>
    </div>
</section>

<section class="AdvisoryBoard">
    <header class="AdvisoryBoard-intro">
        <h3>Advisory Board</h3>
    </header>

    <section class="AdvisoryBoard-board">

        <div class="Advisor">

            <div class="Container">

                <img class="Advisor-image" src="{{ page.root }}img/profile-christian.png">

                <div class="Advisor-information">

                    <h3 class="Advisor-name">Christian Sandström</h3>

                    <p class="Advisor-details">PhD. Innovation Management<br>
                        Chalmers University of Technology, Sweden</p>

                    <p class="Advisor-bio">His research interests concern 
                        technological shifts and how they change industries. 
                        Christian is particularly fascinated by digital technology and 
                        the turmoil it has created around us. 2013 he studied how 
                        additive manufacturing was introduced in the market for hearing 
                        aids. He is currently employed at the Chalmers University of 
                        Technology and the Ratio Institute, Sweden. <br><br>

                        We at Formeo believe that Christian’s deep knowledge within the 
                        field of Technological shifts and industrial transformation as 
                        well as his commitment are one-of-a-kind 
                        that we value greatly.
                    </p>

                </div> <!-- Advisor-information -->

            </div> <!-- Advisor-wrap -->

        </div> <!-- Advisor -->       
            
        <div class="Advisor">

            <div class="Container">

                <img class="Advisor-image" src="{{ page.root }}img/profile-jan.png">

                <div class="Advisor-information">

                    <h3 class="Advisor-name">Jan Holmström</h3>

                    <p class="Advisor-details">Dr. Tech. in Industrial Management<br>
                        Helsinki University of Technology, Finland</p>

                    <p class="Advisor-bio">Research Interests is Technology-enabled 
                        innovation in operations management.<br><br>

                        His research is practice-oriented and focuses on problem 
                        solving and solution spotting. Jan has published 
                        extensively on the improvement of industrial management, 
                        project & retail supply chains and asset management. 
                        By possessing in-depth knowledge in the field where Formeo 
                        operates, and being an expert in supply chain management, 
                        we believe to acquire crucial knowledge to succeed.
                    </p>

                </div> <!-- Advisor-information -->

            </div> <!-- Advisor-wrap -->

        </div> <!-- Advisor -->

    </section>

</section>
