---
layout: default
root: "../"
img: "../img/"
---

<section class="PageIntro--consulting">
    <div class="u-centerVerticalOuterWrapper">
        <div class="u-centerVerticalInnerWrapper">
            <h2>We tailor your implementation strategies</h2>
        </div>
    </div>
</section>


<div class="Consulting">

    <section id="cd-timeline" class="cd-container">
        <div class="cd-timeline-block">
            <div class="cd-timeline-img lightbulb">
                <img src="{{ page.img }}lightbulb.svg" alt="Lightbulb">
            </div> <!-- cd-timeline-img -->

            <div class="cd-timeline-content">
                <h2>We know things</h2>
                <p>In these times when additive manufacturing is becoming more 
                    advanced and increasingly effective, it is also becoming a 
                    serious alternative to consider in companies’ production and 
                    supply chain strategies. <br><br>But without sufficient knowledge and 
                    capabilities it could be hard to evaluate what and how much 
                    money there is to actually gain from implementing this 
                    new disruptive technology.</p>
            </div> <!-- cd-timeline-content -->
        </div> <!-- cd-timeline-block -->

        <div class="cd-timeline-block">
            <div class="cd-timeline-img gears">
                <img src="{{ page.img }}gears.svg" alt="Gears">
            </div> <!-- cd-timeline-img -->

            <div class="cd-timeline-content">
                <h2>We do things</h2>
                <p>At Formeo we work continuously to stay updated with the latest 
                    trends and know how in the additive manufacturing market. 
                    Combined with our knowledge in corporate strategy, business 
                    development and supply chain management we offer a service to: 
                </p>

                <ul class="Consulting-weDoStuffList">
                    <li>Provide the latest knowledge and know how of additive manufacturing</li>
                    <li>Evaluate potential gains in shifting production towards additive manufacturing</li>
                    <li>Tailor implementation strategies</li>
                </ul>

            </div> <!-- cd-timeline-content -->
        </div> <!-- cd-timeline-block -->

        <div class="cd-timeline-block">
            <div class="cd-timeline-img handshake">
                <img src="{{ page.img }}handshake.svg" alt="Picture">
            </div> <!-- cd-timeline-img -->

            <div class="cd-timeline-content">
                <h2>Possibility #1</h2>
                <p>When choosing Formeo you can consider to either just work 
                    together with us in a one-time project, where we evaluate 
                    your corporation in order to as good an estimate as possible 
                    for your business’ potential gains.</p>
            </div> <!-- cd-timeline-content -->
        </div> <!-- cd-timeline-block -->

        <div class="cd-timeline-block">
            <div class="cd-timeline-img viral">
                <img src="{{ page.img }}viral.svg" alt="Location">
            </div> <!-- cd-timeline-img -->

            <div class="cd-timeline-content">
                <h2>Possibility #2</h2>
                <p>Or you can choose to work together with us long term where 
                    we also provide a system to handle and transfer your inventory 
                    into our system that is tailored to work together with our 
                    production sites.</p>
            </div> <!-- cd-timeline-content -->
        </div> <!-- cd-timeline-block -->

    </section> <!-- cd-timeline -->
</div>
